[submodule "front-LMS-clinical-simulation"]
	path = front-LMS-clinical-simulation
	url = https://github.com/TG-16-PUJ/front-LMS-clinical-simulation.git
[submodule "back-LMS-clinical-simulation"]
	path = back-LMS-clinical-simulation
	url = https://github.com/TG-16-PUJ/back-LMS-clinical-simulation.git
[submodule "*"]
	branch = dev
